#container {
  width: 100%;
  margin: auto;
  font-family: 'Source Code Pro', Helvetica, sans-serif;
  font-size: 15px;
}

#header {
  text-align: center;
  width: 475px;
  height: 70px;
  margin: auto;
}

#main {
  width: 490px;
  height: 490px;
  margin: 0px auto;
}

#main div {
  width: 150px;
  height: 150px;
  background-color: #33CCFF;
  display: inline-block;
  border-radius: 15px;
}

.boxes {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 120px;
  color: white;
  margin: 5px 0px 0px 5px;
}