#container {
  background-color: #CCCCCC;
  height: 800px;
  width: 800px;
  margin: auto;
}

#header {
  text-align: center;
  width: 600px;
  height: 100px;
  margin: auto;
  background-color: #FFFFFF;
}

#main {
  width: 600px;
  height: 600px;
  background-color: #CCFFCC;
  margin: auto;
}

#main div {
  width: 200px;
  height: 200px;
  background-color: #33CCFF;
  display: inline-block;
  float: left;
  /*border-radius: 25px;*/
}

.boxes {
  text-align: center;
  font-size: 80px;
}

/*#topLeft {
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}*/

/*#topMid {
  clear: right;
}

#topRight {
  float: right;
}

#midLeft {
  float: left;
}

#midMid {
  clear: right;
}

#midRight {
  float: right;
}

#botLeft {
  float: left;
}

#botMid {
  clear: right;
}

#botRight {
  float: right;
}*/

#horizontal1 {
  position: absolute;
  width: 600px;
  height: 2px;
  background-color: black;
  margin-left: 100px;
  margin-top: 200px;
}