#container {
  background-color: #CCCCCC;
  height: 800px;
  width: 800px;
  margin: auto;
}

#header {
  text-align: center;
  width: 600px;
  height: 100px;
  margin: auto;
  background-color: #FFFFFF;
}

#main {
  width: 600px;
  height: 600px;
  background-color: #CCFFCC;
  margin: 0px auto;
}

#main div {
  width: 190px;
  height: 190px;
  background-color: #33CCFF;
  display: inline-block;
  /*float: left;*/
  /*margin: 0px auto;*/
  border-radius: 25px;
}

.boxes {
  text-align: center;
  font-size: 80px;
  margin: 5px 0px 0px 5px;
}

#horizontal1 {
  position: absolute;
  width: 600px;
  height: 2px;
  background-color: black;
  margin-left: 100px;
  margin-top: 200px;
}
.boxes p {
  margin-bottom: 5px;
  display: inline-block;
}